<div id="menuTemplate">
<!-- <div id=othermenuTemplate> -->
	<!-- 	<div style="width:100%; height:20px;"> -->
	<!-- 		<div id="appName"></div> -->
	<!-- 		<div> -->
	<!-- 			<a href="#mainHeaderMenu" onclick="toggleMenu($('#mainHeaderMenu'),$(this));" class="panel-A"></a> -->
	<!-- 		</div> -->
	<!-- 		<div id="mainHeaderMenu" class="page-menu"> -->
	<!-- 			<ul data-role="listview" id="mainHeaderMenuDiv"></ul> -->
	<!-- 		</div> -->
	<!-- 	</div> -->

<!-- <div style="overflow: hidden; float: left; width: 100%; height: 39px;"> -->
<!-- 			<div style="width: 25%; text-align: left; float: left; margin-top: 10px;" id="leftMenuButton"> -->
<!-- 				<% if(menu.leftMenuButtonText && menu.leftMenuButtonText != "" && !menu.home){ %>  -->
<!-- 					<% if (menu.navhandler) { %> -->
<!-- 						<div class="left-nav-btn nav-btn arrow" onclick=<%=menu.navhandler%>><%= menu.leftMenuButtonText %></div> -->
<!-- 					<% }else{ %> -->
<!-- 						<div class="left-nav-btn nav-btn arrow" onclick="$.mobile.back();"><%=menu.leftMenuButtonText %></div> -->
<!-- 					<% } %> -->
<!-- 				<% }else{ %>  -->
<!-- 					<img style="width:50px; margin-left:10px; margin-top:-2px;" src="images/CSX.png">  -->
<!-- 				<% } %> -->
<!-- 			</div> -->
<!-- 			<div style="width: 50%; float: left;" class="screen-title"><%=menu.title %></div> -->
<!-- 			<div style="width: 25%; float: left;" align="right"> -->
<!-- 				<a class="panel-A" href="#<%= menu.id %>" onclick="toggleMenu($('#<%= menu.id %>'),$(this));"> -->
<!-- 					<img src="images/icon-header-collapse.png"> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div id="<%= menu.id %>" class="page-menu" data-theme="b"> -->
<!-- 			<ul data-role="listview" id="<%= menu.id %>Div"> -->
<!-- 				<li data-icon="false" class="drawer-title-msg"> -->
<!-- 					<div id="loggedInUserName">Welcome!</div> -->
<!-- 				</li> -->
<!-- 				<%_.each(menu.items,function(item,key,list){ %> -->
<!-- 					<li data-icon="false" class="drawer-option-enabled"> -->
<!-- 						<a href="<%= item.href %>" data-transition="<%= item.transition %>"  -->
<!-- 							data-direction="<%= item.direction %>"> -->
<!-- 							<%= item.text %>  -->
<!-- 						</a> -->
<!-- 					</li>  -->
<!-- 				<% }); %> -->
<!-- 				<li data-icon="false" class="drawer-option-enabled"> -->
<!-- 					<a id="csxLogOutButton">Log Out</a> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 		</div> -->


<!-- <div style="overflow: hidden; float: left; width: 100%; height: 39px;"> -->
<!-- 			<div style="width: 25%; text-align: left; float: left; margin-top: 10px;" id="leftMenuButton"> -->
<!-- 					<img style="width:50px; margin-left:10px; margin-top:-2px;" src="images/CSX.png">  -->
<!-- 			</div> -->
<!-- 			<div style="width: 50%; float: left;" class="screen-title"><%=menu.title %></div> -->
<!-- 			<div style="width: 25%; float: left;" align="right"> -->
<!-- 				<a class="panel-A" href="#<%= menu.id %>" onclick="toggleMenu($('#<%= menu.id %>'),$(this));"> -->
<!-- 					<img src="images/icon.png"> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div id="<%= menu.id %>" class="page-menu" data-theme="b"> -->
<!-- 			<ul data-role="listview" id="<%= menu.id %>Div"> -->
<!-- 				<li data-icon="false" class="drawer-title-msg"> -->
<!-- 					<div id="loggedInUserName">Welcome!</div> -->
<!-- 				</li> -->
<!-- 				<%_.each(menu.items,function(item,key,list){ %> -->
<!-- 					<li data-icon="false" class="drawer-option-enabled"> -->
<!-- 						<a href="<%= item.href %>" data-transition="<%= item.transition %>"  -->
<!-- 							data-direction="<%= item.direction %>"> -->
<!-- 							<%= item.text %>  -->
<!-- 						</a> -->
<!-- 					</li>  -->
<!-- 				<% }); %> -->
<!-- 				<li data-icon="false" class="drawer-option-enabled"> -->
<!-- 					<a id="csxLogOutButton">Log Out</a> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 		</div> -->


		<div style="overflow: hidden; float: left; width: 100%; height: 39px;">
			<div style="width: 25%; text-align: left; float: left; margin-top: 10px;" id="leftMenuButton">
					<img style="width:50px; margin-left:10px; margin-top:-2px;" src="images/CSX.png"> 
			</div>
			<div style="width: 50%; float: left;" class="screen-title"><script>=menu.title </script></div>
			<div style="width: 25%; float: left;" align="right">
				<a class="panel-A" href="#<script>= menu.id </script>" 
					onclick="toggleMenu($('#<script>= menu.id </script>'),$(this));">
					<img src="images/icon.png">
				</a>
			</div>
		</div>
		<div id="<script>= menu.id </script>" class="page-menu" data-theme="b">
			<ul data-role="listview" id="<script>= menu.id</script>Div">
				<li data-icon="false" class="drawer-title-msg">
					<div id="loggedInUserName">Welcome!</div>
				</li>
				<script>_.each(menu.items,function(item,key,list){ </script>
					<li data-icon="false" class="drawer-option-enabled">
						<a href="<script>= item.href </script>" data-transition="<script>= item.transition </script>" 
							data-direction="<script>= item.direction </script>">
							<script>= item.text </script> 
						</a>
					</li> 
				<script> }); </script>
				<li data-icon="false" class="drawer-option-enabled">
					<a id="csxLogOutButton">Log Out</a>
				</li>
			</ul>
		</div>
</div>


